.sidebar-chat {
  background: #36465d!important;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}

.content-chat {
  //background: #eeeeee;
  //margin-left: 10% !important;
}

body > app-root > div > app-chat > div > app-chat-inner > div > app-chat > div > app-chat-sidebar {
  display: none;
}

.content-chat {
  margin-top: 50px;
}
