<div class="container emp-profile">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-img">
        <img *ngIf="!isActiveInput" src="{{user?.avatar}}" alt="{{user?.name}}">
        <app-image-upload (imageUploaded)="handleImageUpload($event)"
                          (imageError)="handleImageError()"
                          (imageLoadedToContainer)="handleImageLoad()"
                          (croppingCanceled)="cancelUpdate()"></app-image-upload>
      </div>
    </div>
    <div class="col-md-5">
      <div class="profile-head">
        <h5>
          {{user?.name}}
        </h5>
        <h6>
          {{profile?.position}}
        </h6>
        <p class="proile-rating">Оцінки : <span>8/10</span></p>
        <ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="!editing">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
               aria-selected="true">Про лікара</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
               aria-selected="false">Робочі умови</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="carts-tab" data-toggle="tab" href="#carts" role="tab" aria-controls="carts"
               aria-selected="false">Картки</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <input type="submit" class="profile-edit-btn" (click)="editProfile()" name="btnAddMore" value="Редагувати Профіль"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="profile-work">
        <p>Посилання</p>
        <a *ngIf="profile?.links?.website" href="{{profile?.links?.website}}">Вебсайт</a><br/>
        <a *ngIf="profile?.links?.workprofile" href="{{profile?.links?.workprofile}}">Робочий профіль</a><br/>
        <p>Що лікар лікує</p>
        <span *ngFor="let trend of profile?.selectedTrends">
            <a href="">{{trend?.name}}</a><br/>
          </span>
      </div>
    </div>
    <div *ngIf="!editing"  class="col-md-8">
      <div class="tab-content profile-tab" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row">
            <div class="col-md-6">
              <label>Ваше Id</label>
            </div>
            <div class="col-md-6">
              <p>{{user?.id}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Ім'я</label>
            </div>
            <div class="col-md-6">
              <p>{{user?.name}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Email</label>
            </div>
            <div class="col-md-6">
              <p>{{user?.email}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Професія</label>
            </div>
            <div class="col-md-6">
              <p>{{profile?.position}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Біографія</label><br/>
              <p style="word-break: break-word;">{{profile?.description}}</p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="row">
            <div class="col-md-6">
              <label>Досвід</label>
            </div>
            <div class="col-md-6">
              <p>{{profile?.experience}} років</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Почасова ставка</label>
            </div>
            <div class="col-md-6">
              <p>{{profile?.hour_rate}} грн</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Кількість Прийнятих Пацієнтів</label>
            </div>
            <div class="col-md-6">
              <p>{{profile?.client_amount}}</p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="carts" role="tabpanel" aria-labelledby="carts-tab">
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-success">Добавити картку</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="editing"  class="col-md-8">
      <app-edit-user [profile]="profile" [user]="user" (cancelEvent)="cancel()" (updatedEvent)="updated($event)"></app-edit-user>
    </div>
    </div>
</div>
