app-control-messages {
  position: relative;
}

.wrap-message {
  width: 100%;
  min-height: 60px;
  background: #f1f1f1;
  display: inline;
  position: fixed;
  bottom: 0;
  right: 0;
  padding-left: calc(16.666667% + 15px);
  padding-right: 15px;
  i {
    color: #aaaaaa;
    text-align: center;
  }
  .smiles-icon {
    color: #aaaaaa;
    padding: 20px 10px;
    display: inline-block;
    &:hover {
      cursor: pointer;
    }
  }
  .microphone-icon {
    color: #aaaaaa;
    padding: 20px 10px;
    display: inline-block;
    &:hover {
      cursor: pointer;
    }
  }
  .message {
    height: 45px;
    margin: auto;
    border-radius: 5px;
    display: inline-block;
    width: 90%;
    padding-top: 10px;
    float: right;
  }
  .input-message {
    margin: 0px 10px;
    border: none;
    outline: none;
    display: inline-block;
    background: #ffffff;
    border: 1px solid #eeeeee;
  }
  .icons-wrap {
    display: inline-block;
    width: 10%;
  }
  i {
    color: #aaaaaa;
    text-align: center;
  }
  .send-btn {
    margin-top: 10px;
    margin-left: 10px;
  }
}
