app-control-messages {
  position: relative;
}
.wrap-message {
  width: 100%;
  height: 60px;
  background: #f1f1f1;
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  padding-left: calc(16.666667% + 15px);
  padding-right: 15px;
  i {
    color: #aaaaaa;
    text-align: center;
  }
  .smiles-icon {
    color: #aaaaaa;
    margin-top: 20px;
    margin-right: 10px;
  }
  .microphone-icon {
    color: #aaaaaa;
    margin-top: 20px;
    margin-right: 10px;
  }
  .message {
    width: 100%;
    height: 45px;
    background: #ffffff;
    margin: auto;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    display: flex;
  }
  .input-message {
    width: 100%;
    margin: 0px 10px;
    border: none;
    outline: none;
  }
  i {
    color: #aaaaaa;
    text-align: center;
  }
  .send-btn {
    margin-top: 10px;
    margin-left: 10px;
  }
}
