.wrap-message {
  width: 100%;
  height: 60px;
  background: #f1f1f1;
  display: flex;
  i {
    color: #aaaaaa;
    text-align: center;
  }
  .message {
    width: 100%;
    height: 45px;
    background: #ffffff;
    margin: auto;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    display: flex;
  }
  .input-message {
    width: 100%;
    margin: 0px 10px;
    border: none;
    outline: none;
  }
  i {
    color: #aaaaaa;
    text-align: center;
  }
}
