<div #content class="messages" id="messages-elem">
  <ul #messages *ngFor="let message of messages">
    <li *ngIf="currentUser.id == message.user_id" class="replies">

      <img src="{{message.user.avatar}}" alt="{{message.user.name}}">
      <p class="msg-body"><span class="user-you">You:</span> {{message.body}}</p>
    </li>
    <li *ngIf="currentUser.id != message.user_id" class="sent">
      <img src="{{message.user.avatar}}" alt="{{message.user.name}}">
      <p>{{message.body}}</p>
    </li>
  </ul>
</div>
<div class="clearfix"></div>
<app-thread-message-input [thread]="thread"></app-thread-message-input>
