<span *ngIf="company && threads">
<li *ngFor="let thread of threads | pipeThreads: 'date'" class="thread-item nav-item">
  <a [routerLink]="['/chat/company/'+company.id+'/threads/', thread.id]"
     (click)="changeActiveThreadId(thread.id)"
     [class]="(activeThreadId == thread.id) ? 'header nav-link pull-left active' : 'header nav-link pull-left'">
    <i *ngIf="activeThreadId == thread.id" class="glyphicon glyphicon-ok-circle"></i>
    <i *ngIf="activeThreadId != thread.id" class="glyphicon glyphicon-ok-circle"></i> {{thread.subject}}
  </a>
</li>
</span>
