.collapse.in {
  display: block!important;
}

li.nav-link.text-white.text-uppercase  {
  color: white!important;
  display: inline-block;
  position: relative;
  padding: 0;
  line-height: 1;
  margin-bottom: 10px;
  .company-name {
    width: 80%;
    line-height: 1;
    padding-top: 10px;
    padding-left: 10px;
  }
  i {
    width: 20%;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: right;
  }
  &:hover {
    cursor: pointer;
    color: whitesmoke!important;
  }
  &.active {
    color: white!important;
  }
}
.company-name {
  font-size: 1.1rem!important;
  color: #aaaaaa;
}
.companies-list-toggle {
  background: transparent;
  outline: none;
  border: none;
  font-weight: 600;color: white;
  border-bottom: 1px solid;
  padding-left: 20px;
  width: 100%;
  text-align: left;
}
.companies-list-container {
  position: relative;
  display: block;
}
.companies-list {
}
