<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="row" novalidate>
  <div class="form-group d-flex w-100" formGroupName="user" novalidate>
    <div class="col-6">
      <label for="email">Ваш Email</label>
      <input class="form-control" formControlName="email"/>
    </div>
    <div class="col-6">
      <label for="name">Ваше  Ім'я</label>
      <input class="form-control" formControlName="name"/>
    </div>
  </div>
  <div class="form-group d-flex w-100">
    <div class="col-12">
      <label for="trends">Ваші напрямки(не більше 3-х і перший ваш основний)</label>
      <ngx-select-dropdown formControlName="selectedTrends" [(ngModel)]="profile.selectedTrends" [options]="trends"
                           [config]="selectConfig"
                           [multiple]="true"></ngx-select-dropdown>
    </div>
  </div>
  <div class="form-group d-flex w-100" novalidate>
    <div class="col-12">
      <h5>Ваші посилання</h5>
    </div>
  </div>
  <div class="form-group d-flex w-100" formGroupName="links" novalidate>
    <div class="col-6">
      <label for="website">Ваш сайт</label>
      <input class="form-control" formControlName="website"/>
    </div>
    <div class="col-6">
      <label for="workprofile">Робочий профіль</label>
      <input class="form-control" formControlName="workprofile"/>
    </div>
  </div>
  <div class="form-group d-flex w-100">
    <div class="col-12">
      <label for="description">Ваша біографія</label>
      <textarea class="form-control" formControlName="description" style="min-height: 200px;"></textarea>
    </div>
  </div>
  <div class="form-group d-flex w-100">
    <div class="col-6">
      <label for="experience">Ваш досвід(в роках)</label>
      <input class="form-control" type="number" formControlName="experience"/>
    </div>
    <div class="col-6">
      <label for="hour_rate">Ваша почасова ставка(в грн)</label>
      <input class="form-control" type="number" formControlName="hour_rate"/>
    </div>
  </div>
  <div class="form-group d-flex w-100">
    <div class="col-12">
      <button class="btn btn-lg btn-success" type="submit" [disabled]="profileForm.pristine">Зберегти</button>
      <button class="btn btn-lg" (click)="cancel()" [disabled]="profileForm.pristine">
        Відмінити
      </button>
    </div>
  </div>
</form>
